<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Proyecto Integrador</h1>
            <p id="descripcion">Este es el primer proyecto que realizo, espero que lo disfruten tanto como yo al elaborarlo. Es mi primer acercamiento a la programación y la verdad me está gustando un montón.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-jg-1 parte2">
            <img src="../../../assets/Banner Facebook Producto Promocion Sale OFF Multicolor.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>