<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Perfil.jpg" class="img-fluid" id="fotodeperfil">    
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Emilia Gómez</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p id="descripcion">Curso el último año del profesorado de Educación Secundaria en Matemáticas en el Instituto de Enseñanza Superior Aguilares. Me interesé en la programación cuando me dieron de tarea crear una pagina con juegos matemáticos didacticos durante la pandemia.</p>
        </span>
    </div>
</div>