<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://www.facebook.com/emilia.gomez.123276"><img src="../../../assets/facebook.png" id="facebook"></a>
            <a href="https://instagram.com/emi_gomez33?igshid=YmMyMTA2M2Y="><img src="../../../assets/instagram.png" id="instagram"></a>
            <a href="https://github.com/EmiliaCG9/Argentina-Programa.git"><img src="../../../assets/github.png" id="github"></a>
            <button type="button" class="btn btn-outline-light">INGRESAR</button>
        </div>
    </div>
</div>
